body {
    margin: 0;
    background: #050712;
    color: #00fff7;
    font-family: "Courier New", monospace;
}

.top {
    text-align: center;
    padding: 20px;
    background: #02040a;
    box-shadow: 0 0 20px #00fff7;
}

.sidebar {
    position: fixed;
    width: 220px;
    height: 100%;
    background: #02040a;
    padding-top: 30px;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: #00fff7;
    text-decoration: none;
}

.sidebar a:hover {
    background: #00fff7;
    color: #000;
}

.content {
    margin-left: 240px;
    padding: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    border: 1px solid #00fff7;
    box-shadow: 0 0 15px rgba(0,255,247,0.4);
    background: #02040a;
}

.safe {
    color: #00ff00;
    font-weight: bold;
}

.alert {
    color: #ff004c;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #00fff7;
    padding: 10px;
}

.logs {
    list-style: none;
    padding: 0;
}


/* ---------- LOGIN PAGE ---------- */
.login-body {
    background: radial-gradient(circle, #02040a, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #02040a;
    padding: 40px;
    border: 1px solid #00fff7;
    box-shadow: 0 0 30px rgba(0,255,247,0.5);
    text-align: center;
    width: 320px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: black;
    border: 1px solid #00fff7;
    color: #00fff7;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #00fff7;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover {
    background: #00ccbf;
}

.error {
    color: #ff004c;
    margin-bottom: 10px;
}

/* ---------- LOGOUT BUTTON ---------- */
.logout-btn {
    position: absolute;
    right: 20px;
    top: 25px;
    color: #ff004c;
    text-decoration: none;
    font-weight: bold;
}
